/* $darkteal: #026670;
$teal:#9FEDD7;
$pale: #FEDF9C;
$yellow: #FCE181;
$gray: #EDEAE5;  */

html {
    
}

h1 {
    text-align: left;
    color:white;
    font-size: 60px;
    text-align: center;
    margin: auto;
     text-shadow: .03em .03em 0 black;
     font-family: 'Quicksand', sans-serif;
     padding: 20px;
     background-size: cover;
     background: transparent;
     border: solid 3px white;
     width: 60%;
    
}

.header {
    display: flex;
    justify-content: center;
    background-size: cover;
     background-image: url("https://www.sap.com/dam/application/imagelibrary/photos/277000/277892.jpg.adapt.1024_600.false.false.false.false.jpg");
}

div {
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    background: white;
    margin-bottom: 200px;
}


body {
    display: flex;
    flex-direction: column;
    font-family: 'Gudea', sans-serif;
    font-size: 20px;
    
}

#text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
}

h2 {
    color: #026670;
    padding: 5px;
    text-align: center;
    border-bottom: solid 3px black;
    width: 60%
}

.header {
    height: 100%;
    display: flex;

    justify-content: center;
}

img {
    height: 300px;
    padding: 30px;
    zoom: 120%;
}

.centroid {
        stroke: #000;
    stroke-width: 2px;
}

#kmeans {
   zoom: 120%;
}