/* $darkteal: #026670;
$teal:#9FEDD7;
$pale: #FEDF9C;
$yellow: #FCE181;
$gray: #EDEAE5;  */

html {
     
}

h1 {
    text-align: left;
    color:black;
    font-size: 72px;
    margin: auto;
     text-shadow: .03em .03em 0 white;
     font-family: 'Quicksand', sans-serif;
     padding: 10px;
     background-size: cover;
}

div {
    display: flex;
    flex-direction: row; 
    margin-bottom: 100px;
    justify-content: center;
    background: white;
}


body {
    display: flex;
    flex-direction: column;
    font-family: 'Gudea', sans-serif;
    font-size: 20px;
    
}

#text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
}

h2 {
    color: #026670;
    padding: 5px;
    text-align: center;
    border-bottom: solid 3px black;
    width: 60%
}

.header {
    height: 100%;
    display: flex;

    justify-content: center;
}

img {
    height: 300px;
    padding: 30px;
}

