h1 {
    font-family: Arial, Helvetica, sans-serif
}

.panel {
    height: 100%;
    width: 100%;
    text-align: center;
    color: white;
    background-color: black;


}

.panel.green {
    background-color: green;
}

.panel.turqoise {
    background-color: turquoise;
}

.panel.bordeaux {
    background-color: red;
}

.panel.blue {
    background-color: blue;
}